.headerWrapper
    .header
        display flex
        align-items center
        justify-content space-between
        padding-top 20px
        padding-bottom 20px
        
        nav 
            p
                position relative

        img
            height 30px