@font-face {
	font-family: 'dana VF';
	src: url('../assets/fonts/dana/dana2webGX.woff') format('woff-variations'),url('../assets/fonts/dana/dana2webGX.woff') format('woff');
	font-display: fallback;
}

@font-face {
	font-family: dana;
	src: url('../assets/fonts/dana/staticfonts/dana-regular.woff') format('woff');
}