@import 'resets.styl'
@import 'fonts.styl'
@import 'typography.styl'

html
	height 100%
body
	height 100%
	width: 100%
	position: relative
	overflow-x: hidden
	margin: 0
	padding: 0
	display: flex
	flex-direction: column
	font-family: baseFont
	font-variation-settings:"wght" baseFontWeight
	font-size: baseFontSize
	font-style: baseFontStyle
	background: gray12
	color: gray2
	line-height: 1.8
	direction: rtl

:global(#root)
	display: flex
	flex-direction: column
	flex-grow: 1
	align-items: stretch
	
:global(.container)
	width: 1400px
	margin: 0 auto;
	box-sizing: border-box

@media only screen and (max-width: 1500px) and (min-width: 1300px)
	:global(.container)
		width: 1200px


@media only screen and (max-width: 1300px)
	:global(.container)
		width: 100%
		padding: 0 30px


@media only screen and (max-width: 640px)
	:global(.container)
		padding: 0 20px

	body
		font-size: baseFontSize * 0.85

@media only screen and (max-width: 420px)
	:global(.container)
		padding: 0 15px

@media only screen and (max-width: 350px)
	:global(.container)
		padding: 0 5px


.layout
	position relative
	display flex
	flex-direction: column
	height 100%
	background: linear-gradient(90deg, lightYellow 30%, gray12 30%);
	padding-bottom 50px

	>:global(.container)
		flex-grow 1
		display flex

		>.row
			display flex
			flex-grow 1
			
			>main
				align-self stretch
				width 50%

			>img
				align-self flex-end
				width 50%

@media screen and (max-width:680px)
	.layout
		background: none
		padding-bottom 50px

		&:after
			content ''
			z-index -1
			position absolute
			left 0
			right 0
			bottom 0
			height 100px
			background lightYellow

		>:global(.container) .row
			flex-direction: column
			>img
				width 70%
				justify-content flex-end

			>main
				flex-grow 1
				width 100%